.contact-container {
    display: flex;
    background-color: rgba(255, 127, 80, 0.432);
    flex-direction: column;
    row-gap: 40px;
}

.contact {
    background-color: coral;
    padding: 20px 0;
}