.icons-container {
    background-color: aqua;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    padding: 20px 0px;
    position: sticky;
    top: 0;
    z-index: 2;
}