.personalinfo-container {
    position: relative;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 100%;
    font-size: 40px;
    height: 93vh;
}

.personalinfo-container::before {
    content: "";
    background-image: url('../../../public/background.jpg');
    background-size: cover;
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    opacity: 0.3;
    z-index: -1;
}

.tech-container {
    padding: 0px 20vw;
    row-gap: 10px;
    display: flex;
    font-size: 1.2rem;
    font-weight: bold;
    flex-direction: column;
}

.languages {
    font-weight: 200;
    font-size: 1rem;
}

.about-me {
    font-size: 1.2rem;
    padding: 0px 15vw;
    display: flex;
    flex-direction: column;
}

.name {
    padding: 10px;
    display: inline-block;
    font-size: 3.2rem;
    border: 2px solid white;
    width: fit-content;
}