.projects-flex-container {
    background-color: rgba(0, 0, 255, 0.301);
    display: flex;
    flex-direction: column;
}

.project-container {
    background-color: blueviolet;
    display: flex;
    height: 100px;
    justify-content: center;
    align-items: center;
}

.box {
    padding: 50px;
    margin: 40px 0;
    background-color: blue;
  }

.project-container span {
    width: 100%;
}