.projects-flex-container {
    display: flex;
    flex-direction: column;
}

.project-container {
    background-color: blueviolet;
    display: flex;
    height: 100px;
    justify-content: center;
    align-items: center;
}

.box {
    color: white;
    padding: 150px;
    margin: 0 0;
    position: relative;
}

.box::before {
    content: "";
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 0;
    position: absolute;
    transition: opacity 0.1s ease-out;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    opacity: 0.2;
    z-index: -1;
}

.box:hover::before {
    opacity: 0.7;
}

.first-project::before {
    background-image: url('../../../public/watchlist.png');
}

.second-project::before {
    background-image: url('../../../public/minimax.png');
}